<!--
  - Copyright (c) 2018. Jake Toolson
  -->

<template>
    <div class="row">
        <PageHeading heading="Dashboard"/>
        <div class="col-lg-8">
            <ClicksPanel v-if="!loading" :data="clicksPanel.data" :labels="clicksPanel.labels" :years="clicksPanel.years"/>
        </div>
    </div>
</template>
<script>
    import ClicksPanel from "@/components/ClicksPanel";
    import { ClicksService } from '@/api/api.service';
    import mixins from '@/common/componentMixin';
    import PageHeading from "@/components/PageHeading";

    export default {
        name: 'Dashboard',
        components: {
            PageHeading,
            ClicksPanel
        },
        mixins: [
            mixins
        ],
        data: function () {
            return {
                loading: true,
                clicksPanel: {
                    data: [],
                    years: [],
                    labels: [],
                }
            }
        },
        methods: {
            getData(year) {
                ClicksService.query({year: year, group_by: 'period,provider_id', sum: 'total_clicks'}).then((r)=>{
                    let data = r.data.data;
                    if (! this.clicksPanel.years.length) {
                        this.clicksPanel.years = this.getUniqueByName(data, item => item.year).sort((a, b) => b - a)
                    }
                    this.clicksPanel.labels = this.getUniqueByName(data,  item => item.provider.name);
                    this.clicksPanel.data = this.formatClicksDataToMorris(data);
                    this.loading = false;
                });
            },
        },
        mounted() {
            this.getData();
        }
    }
</script>