<template>
    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <router-view/>
    </div>
</template>
<script>
    import Dashboard from '@/containers/Dashboard';
    export default {
        name: 'Main',
        components: {
            Dashboard
        }
    }
</script>