<template>
    <div class="col-md-2 d-md-block bg-light sidebar pt-0 pr-0 pl-0 border-right">
        <SidebarNavItems :items="links"/>
    </div>
</template>
<script>
    import SidebarNavItems from "@/components/SidebarNavItems";
    export default {
        name: 'Sidebar',
        data: function () {
            return {
                links : [
                    {
                        path: '/',
                        name: 'Dashboard',
                        icon: 'fas fa-tachometer-alt'
                    },
                    {
                        path: '/tables',
                        name: 'Tables',
                        icon: 'fas fa-table'
                    }
                ]
            }
        },
        components: {
            SidebarNavItems
        },
    }
</script>