<!--
  - Copyright (c) 2018. Jake Toolson
  -->
<template>
    <!--TODO: The card element itself could be componentized so that we can have a central location for building panels-->
    <div class="card">
        <div class="card-header ">
            <i class="fas fa-chart-bar"></i> Clicks
            <div class="float-right">
                <div class="dropdown">
                    <button type="button" class="btn-xs btn btn-default dropdown-toggle border" data-toggle="dropdown" aria-expanded="false">
                        Report Dates
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" role="menu">
                        <a :class="['dropdown-item', {'active' : !selectedYear}]" href="#"  @click.preventDefault="filterByDate()">All</a>
                        <template v-if="years">
                            <a v-for="(year, index) in years" :key="index" :class="['dropdown-item', {'active' : selectedYear === year}]" href="#" @click.preventDefault="filterByDate(year)">{{ year }}</a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!--TODO: Perhaps create default chart components with pre-defined properties that rarely change -->
            <!--TODO: Identify method for displaying loading animation while data is being collected -->
            <area-chart
                    id="donut"
                    hide-hover="true"
                    :data="filteredData"
                    :pointSize="2"
                    xkey="period"
                    :labels="labels"
                    :ykeys="labels"></area-chart>
        </div>
    </div>
</template>
<script>
    import { AreaChart } from 'vue-morris'

    export default {
        name: "ClicksPanel",
        props: {
            data :{
                type: Array,
                required: true,
            },
            labels: {
                type: Array,
                required: true,
            },
            years: {
                type: Array,
                required: true,
            }
        },
        data: function () {
            return {
                selectedYear: null,
                filteredData : this.data,
            }
        },
        components: {
            AreaChart
        },
        methods: {
            // TODO: Trigger event on state which will update the data based on year
            filterByDate(year) {
                this.selectedYear = year;
                if (year === undefined) {
                    this.filteredData = this.data;
                } else {
                    this.filteredData = this.data.filter((t) => t.period.includes(year));
                }
            },
        },
    }
</script>