<!--
  - Copyright (c) 2018. Jake Toolson
  -->

<template>
    <div class="col-lg-12 mb-3">
        <h1 class="display-5 border-bottom">{{ heading }}</h1>
    </div>
</template>
<script>
    export default {
        name: "PageHeading",
        props: {
            heading : {
                type: String,
                required : true,
            }
        }
    }
</script>