<template>
    <ul class="nav flex-column">
        <li class="nav-item sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </li>
        <li class="nav-item" v-for="item in items" :key="item.id">
            <router-link exact-active-class="active" class="nav-link" :to="item.path" exact>
                <i :class="item.icon"/> {{ item.name }}
            </router-link>
        </li>
    </ul>
</template>
<script>
    export default {
        name: "SidebarNavItems",
        props: {
            items: {
                type: Array,
                required: true,
            }
        }
    }
</script>
<style>
    .sidebar-search .btn-outline {
        border-color: #ced4da;
    }
</style>