<template>
    <div>
        <Dashboard/>
    </div>
</template>
<script>
    import Dashboard from '@/containers/Dashboard';
    export default {
        name: 'Home',
        components: {
            Dashboard
        }
    }
</script>