<!--
  - Copyright (c) 2018. Jake Toolson
  -->

<template>
    <div class="row">
        <PageHeading heading="Tables" />
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    DataTables Advanced Tables
                </div>
                <div class="card-body">
                    <!--TODO: Add a loading notification -->
                    <datatable v-bind="$data"></datatable>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import PageHeading from "@/components/PageHeading";
    import { ClicksService } from '@/api/api.service';
    import moment from 'moment'

    export default {
        name: 'Tables',
        components: {PageHeading},
        data: () => ({
            HeaderSettings: false,
            columns: [
                { title: 'Provider', field: 'provider_name', sortable: true  },
                { title: 'Date', field: 'date', sortable: true },
                { title: 'Clicks', field: 'total_clicks', sortable: true  },
            ],
            data: [],
            total: 0,
            query: {
                sum: 'total_clicks',
                group_by: 'provider_id,year_month'
            },
            newQuery : {},
        }),
        watch: {
            query: {
                handler (query) {
                    this.newQuery =  Object.assign({}, query);
                    let offset = this.newQuery.offset;
                    if (offset > 0) {
                        this.newQuery.page = Math.ceil(+this.newQuery.offset / +this.newQuery.limit) + 1
                    }

                    // TODO: Because provider_name is an alias, it will fail on the backend - fix.
                    if (this.newQuery.sort === 'provider_name') {
                        this.newQuery.sort = 'provider_id';
                    }
                    ClicksService.query(this.newQuery).then((r)=>{
                        this.data = r.data.data.map(row => {
                            // Have to flatten the object in order to access properties correctly.
                            row.provider_name = row.provider.display_name;
                            row.id = row.id;
                            // TODO: Have a global method that determines the format for dates site wide.
                            row.date = moment(row.date).format('MMMM Do, YYYY');
                            row.total_clicks = row.total_clicks;

                            return row;
                        });

                        this.meta = r.data.meta;
                        this.links = r.data.links;
                        this.total = r.data.meta.total;
                    });
                },
                deep: true
            }
        }
    }
</script>
<style>
    .pull-right {
        float: right;
    }
    .fa-sort-desc:before {
        content: "\f0de";
    }
    .fa-sort-asc:before {
        content: "\f0dd";
    }
</style>