/*!
 * Copyright (c) 2018. Jake Toolson
 */

//@import "theme";

html,body {
  height: 100%;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.dropdown-menu.dropdown-menu-sm {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
  .dropdown-item {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.sidebar {

  li.nav-item {
    &.sidebar-search {
      padding:15px;
    }
    border-bottom: 1px solid #e7e7e7;
    a {
      &.nav-link {
        position: relative;
        display: block;
        padding: 10px 15px;
      }
      &.active,
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
}