<!--
  - Copyright (c) 2018. Jake Toolson
  -->
<template>
    <div id="app" class="container-fluid h-100 pr-0 pl-0 mr-0 ml-0">
        <div class="h-100">
            <Header/>
            <div class="row h-100 mr-0 ml-0">
                <Sidebar />
                <Main />
            </div>
        </div>
    </div>
</template>
<script>
    import Header from "@/containers/Header";
    import Sidebar from "@/containers/Sidebar";
    import Main from "@/containers/Main";
    export default {
        name: 'App',
        components: {Main, Sidebar, Header},
    }
</script>